{% extends 'base.html.twig' %}

{% block title %}Invoice{% endblock %}

{% block body %}
    <h1>Invoice</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ invoice.id }}</td>
            </tr>
            <tr>
                <th>Notes</th>
                <td>{{ invoice.notes }}</td>
            </tr>
            <tr>
                <th>Amount</th>
                <td>{{ invoice.amount }}</td>
            </tr>
            <tr>
                <th>Discount</th>
                <td>{{ invoice.discount }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('invoice_index') }}">back to list</a>

    <a href="{{ path('invoice_edit', {'id': invoice.id}) }}">edit</a>

    {{ include('invoice/_delete_form.html.twig') }}
{% endblock %}
