<!DOCTYPE html>
<!--
Template Name: Metronic - Responsive Admin Dashboard Template build with Twitter Bootstrap 4
Version: 5.0.5
Author: KeenThemes
Website: http://www.keenthemes.com/
Contact: support@keenthemes.com
Follow: www.twitter.com/keenthemes
Dribbble: www.dribbble.com/keenthemes
Like: www.facebook.com/keenthemes
Purchase: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
Renew Support: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
License: You must have a valid license purchased only from themeforest(the above link) in order to legally use the theme for your project.
-->
<html lang="en" >
<!-- begin::Head -->
<head>
    <meta charset="utf-8" />
    <title>
        Metronic | Dashboard
    </title>
    <meta name="description" content="Latest updates and statistic charts">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--begin::Web font -->
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
    <script>
        WebFont.load({
            google: {"families":["Poppins:300,400,500,600,700","Roboto:300,400,500,600,700"]},
            active: function() {
                sessionStorage.fonts = true;
            }
        });
    </script>
    <!--end::Web font -->
    <!--begin::Base Styles -->
    <!--begin::Page Vendors -->
    <link href="{{ asset("vendors/custom/fullcalendar/fullcalendar.bundle.css" ) }}" rel="stylesheet" type="text/css">
    <!--end::Page Vendors -->
    <link href="{{ asset('vendors/base/vendors.bundle.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('demo/demo5/base/style.bundle.css') }}" rel="stylesheet" type="text/css">
    <!--end::Base Styles -->
    <link rel="shortcut icon" href="{{ asset('demo/demo5/media/img/logo/favicon.ico') }}">
</head>
{% block css %}
{% endblock %}

<body class="m-page--wide m-header--fixed m-header--fixed-mobile m-footer--push m-aside--offcanvas-default"  >
<!-- begin:: Page -->
<div class="m-grid m-grid--hor m-grid--root m-page">
    <!-- begin::Header -->
   {% include "partials/header.html.twig" %}
    <!-- END: Header -->
    <!-- BEGIN: Subheader -->
    {% include "partials/sidebar.html.twig" %}
    <!-- END: Subheader -->
    <div class="m-content">
        <!--Begin::Main Portlet-->
        <div class="m-portlet">
            <div class="m-portlet__body  m-portlet__body--no-padding">
                <div class="row m-row--no-padding m-row--col-separator-xl">
                    <div class="col-xl-4">
                    {% block body %} {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


{% block js %}
    <script src="{{ asset('vendors/base/vendors.bundle.js') }}" type="text/javascript"></script>
    <script src="{{ asset('demo/demo5/base/scripts.bundle.js') }}" type="text/javascript"></script>
    <!--end::Base Scripts -->
    <!--begin::Page Vendors -->
    <script src="{{ asset('vendors/custom/fullcalendar/fullcalendar.bundle.js') }}" type="text/javascript"></script>
    <!--end::Page Vendors -->
    <!--begin::Page Snippets -->
    <script src="{{ asset('app/js/dashboard.js') }}" type="text/javascript"></script>
{% endblock %}
</body>
</html>