{% extends 'layouts/master.html.twig' %}
{% block title %}Client index{% endblock %}

{% block body %}

<div class="m-widget14">
    <div class="m-widget14__header m--margin-bottom-30">
<br><br>
        <h1>Client index</h1>
    <table class="table">
        <thead class="m-widget14__title">

            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Notes</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for client in clients %}
            <tr>
                <td>{{ client.id }}</td>
                <td>{{ client.name }}</td>
                <td>{{ client.notes }}</td>
                <td>
                    <a href="{{ path('client_show', {'id': client.id}) }}">show</a>
                    <a href="{{ path('client_edit', {'id': client.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('client_new') }}">Create new</a>
    </div>
</div>
{% endblock %}









